DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=
DB_NAME=app_educativa_recuperada
ACUDIENTES_XLSX_PATH=C:\Users\Educacion IEGA\AppData\Roaming\Microsoft\Windows\Network Shortcuts\planilla acudiente.xlsx
ACUDIENTES_XLS_PATH=C:\Users\PC\Downloads\Plano_matricula_11-04-2026.xls
MAIL_FROM=
MAIL_FROM_NAME=App Educativa
SMTP_HOST=
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_ENCRYPTION=tls
SMTP_TIMEOUT=15
